//partials
@import "partials/base";
@import "partials/headers";
@import "partials/footer";
@import "partials/flex";
@import "partials/shapes";

body {
	margin: 0;
  color: $primary-font-color;
	font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  background-color: $primary-shade-color;

  p, h1, h2 {
    margin-left: 20px;
    margin-bottom: 5px;
  }
}

.content_wrapper {
  position: relative;
  padding:10px;
  min-width:300px;
  min-height: 300px;
  left: 15%;
  width: 70%;
  height: 100%;
  background-color: #FFF;
}

@media only screen and (max-width: 500px) {
  body {
    p, h1, h2 {
      margin:20px;
    }
    h1 {
      font-size: 1.5em;
    }
  }
  .content_wrapper {
    left:0;
    width:100%;
  }
}