//partials
@import "partials/base";
@import "partials/headers";
@import "partials/flex";

body {
	margin: 0;
  color: $primary-font-color;
	font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  background-color: $primary-shade-color;

  p, h1 {
    margin-left: 20px;
    margin-bottom: 5px;
  }
}

.content_wrapper {
  position: absolute;
  padding:10px;
  min-width:300px;
  left: 15%;
  width: 70%;
  height: 100%;
  background-color: #FFF;
}