// Use Compass ('cause it rocks!)
@import "compass";

//Font families
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway);

// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$base-font-family: 'Raleway', sans-serif;
$base-font-weight: $regular;
$base-font-size: 1.0em;
$base-line-height: 1.4;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-family: 'Montserrat', sans-serif;
$header-font-weight: $bold;
$header-font-size: 1.8em;

@import "modules/all"; 