.pageHeader_wrapper {
	background-color: $primary-color;
	width: 100%;
	h1 {
		left: 15%;
		margin: 0;
		padding: 15px 0px 5px 15px;
		font-family: $header-font-family;
		font-weight: $header-font-weight;
		font-size: $header-font-size;
	}
	.noDecoration {
		color: $primary-shade-color;
		text-decoration: none;
	}
}

.menuBar {
	position: relative;
	left:15%;
	width:70%;
}