
.shapes_wrapper {
	margin-left: 50px;
	h2 {
		padding-top: 50px;
		padding-bottom: 10px;
	}
}
.img_wrapper {
	position: relative;
	padding-top:20px;
	display: inline-block;
}
.product_stamp {
	color: white;
	text-align: center;
	font-family: $header-font-family; 
	line-height: 2;	
	font-weight: $regular;
	height: 30px;
	width: 105px;
	top: 270px;
	position: absolute;
	background: rgba(215, 87, 34, 0.8);

	&.multi_pack {
    font-size: 0.75em;
    line-height: 2.5;
  	background: rgba(48, 150, 163, 0.8);

		&.product_stamp:after {
	  	border-left-color: rgba(48, 150, 163, 0.8);
		}
	}
}
.product_stamp:after {
  left: 105px;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-left: 10px solid rgba(215, 87, 34, 0.8);
  border-bottom: 15px solid transparent;
}
.zoom_icon {
	font-size: 8em; /* This controls the size. */
	display: inline-block;
	width: 0.4em;
	height: 0.4em;
	border: 0.1em solid black;
	position: relative;
	border-radius: 0.35em;
}
.zoom_icon:before
{
	content: "";
	display: inline-block;
	position: absolute;
	right: -0.25em;
	bottom: -0.1em;
	border-width: 0;
	background: black;
	width: 0.35em;
	height: 0.08em;
	-webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
}
.add_to_wislist__button {
	height: 40px;
	width: 65px;
	border: 1px solid gray;
	border-radius: 4px;

	&:hover .heart {
		color: red;
	}

	&:hover {
		cursor: pointer;
	}
}
.heart {
	position: relative;
	color: gray;
	font-size: 2em;
	padding-left:10px;
	left: 0px;
 	transition: left 0.5s  cubic-bezier(0.175, 0.885, 0.320, 1.275);
	&.added {
		left:-25px;
		color: red;
	}
	&:hover {
			will-change: left;
	}
}
.plus {
	padding-left:10px;
	position: relative;
	color: gray;
	font-size: 2em;
}
