
// Base Colors
$primary-color: #3E66A9;
$secondary-color: #819BAD;

// Shadings
$primary-shade-color: #F5F5F5;

// Highlights
$secondary-highlight-color: #91B3CC;

// Fonts
$primary-font-color: #5C5C5C;

// Background
$primary-background-color: #FFF;
