
// Base Colors
$primary-color: #3E66A9;
$secondary-color: #819BAD;

// Shadings
$primary-shade-color: #F5F5F5;

// Highlights
$secondary-highlight-color: #91B3CC;

// Fonts
$primary-font-color: #3C3C3C;

// background
$primary-background-color: #FFF;